.movies_container {
  display: flex;
  flex-wrap: wrap;
}
.movies_item {
  border: solid 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 450px;
  width: 20vw;
  /* color:white; */
  
}
.movies_item_title {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0rem;
}
.movies_item_overview {
  white-space: pre-wrap;
}
.movies_item_img {
  height: 280px;
}

@media(max-width: 1300px){
  .movies_item{
    width: 30vw;
  }
}
@media(max-width: 800px) {
  .movies_item{
    width: 50vw;
  }
}
